$color-headings:#242424;
$color-body-text:#868686;
$color-link-color:#af7f66;
$color-hover-color: #242424;
$color-alternative-bg: #F8F7F6;
$color-btn-border: #d7d6d5;

$box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
$transition:all 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;


