
//*this should be the main font*//
// @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,600;1,700&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    // user-select: none;
    scroll-behavior: smooth;
}

body{
    // font-family: 'Karla', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}

ul{
    list-style: none;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Libre Baskerville', serif;
}



