@import '../../sass/index.scss';

.contact{
    padding: 0px 40px;
    .content{
        padding: 100px 0px;
        display: flex;
        justify-content: space-evenly;
        
        .item{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: 10px;
            width: 200px;
            height: 200px;
            border: 1px solid gray;
        }
    }
}