@import "../../sass/index.scss";
.sticky__header {
  width: 100%;
  height: 80px;
  position: sticky;
  top: 0px;
  left: 0;
  z-index: 999;
  box-shadow: 3px 3px 8px -3px #ddd;
  border: 0 !important;
  transition: $transition;
}
.navbar {
  @include themify($themes) {
    height: 80px;
    background-color: themed("bg");
    color: themed("textColor");
    border-bottom: 1px solid #ddd;
    transition: $transition;

    .wrapper {
      @include flex(center, space-between);
      padding: 20px 40px;
      @include mobile {
        padding: 20px;
        gap: 20px;
      }
      @include desktop {
        flex-direction: row-reverse;
      }

      .left {
        display: flex;
        flex: 1;
        align-items: center;
        gap: 20px;

        @include desktop {
          display: none;
        }
        .item {
          @include flex(center, center);
          cursor: pointer;
          .link {
            text-decoration: none;
            font-size: 14px;
            color: inherit;
            transition: $transition;
            &:hover {
              color: $color-link-color;
            }
          }
        }
      }

      .center {
        font-size: 30px;
        cursor: pointer;
      }

      .right {
        @include flex(center, end);
        flex: 1;
        gap: 15px;
        @include desktop {
          display: none;
        }

        .item {
          position: relative;
          display: flex;
          align-items: center;
          gap: 5px;
          cursor: pointer;
          transition: $transition;

          .dropdown {
            position: absolute;
            top: 30px;
            background-color: #242424;
            padding: 10px 25px;
            ul {
              display: flex;
              flex-direction: column;
              gap: 10px;

              li {
                color: white;
                font-size: 13px;
                transition: $transition;
                &:hover {
                  color: #966b54;
                }
              }
            }
          }
          span {
            font-size: 14px;
            @include desktop {
              display: none;
            }
          }
          &:hover {
            color: $color-link-color;
          }
        }
      }

      .mobile__menu {
        z-index: 99;
        display: none;
        .mobile__content {
          display: flex;
          align-items: center;
          gap: 10px;

          .item {
            margin-top: 5px;
          }

          @include desktop {
            flex-direction: row-reverse;
          }
        }
        @include desktop {
          display: flex;
        }
      }
    }

    .sidebar__menu {
      background-color: themed("bg");
      color: themed("textColor");
      width: 300px;
      height: 100%;
      position: fixed;
      top: 0;
      left: -350px;
      z-index: 5;
      padding: 100px 30px 47px;
      transition: $transition;
      overflow: scroll;
      .menu__header {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-bottom: 56px;
        .user__img {
          width: 44px;
          height: 44px;
          border-radius: 8px;
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .user__about {
          h4 {
            font-size: 16px;
            font-weight: 700;
          }
          span {
            font-size: 14px;
            font-weight: 400;
          }
        }
      }

      .menu__navigation {
        display: flex;
        flex-direction: column;
        gap: 30px;
        .searchitem {
          background-color: themed("side-inpt");
        }
      }
      .item {
        display: flex;
        gap: 16px;
        align-items: center;
        width: 100%;
        height: 50px;
        padding: 14px 16px;
        border-radius: 8px;
        transition: $transition;
        box-shadow: $box-shadow;
        &:last-child:hover{
          background-color: rgb(94, 115, 252) ;
          color: #fff;
        }
        input {
          width: 100%;
          border: none;
          outline: none;
          background-color: transparent;
          color: themed(textColor);
        }
        span {
          font-size: 16px;
          font-weight: 600;
        }
      }
    }
  }
}
