/* font gelecey */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

ul {
  list-style: none;
}

:root {
  font-size: 16px;
}

body {
  font-size: 1rem;
}
@media (min-width: 480px) {
  body {
    font-size: calc( 16px + (17.6 - 16) * ((100vw - 480px) / (1024 - 480)));
  }
}
@media (min-width: 1024px) {
  body {
    font-size: 1.1rem;
  }
}

h1 {
  font-size: 1.5rem;
}
@media (min-width: 480px) {
  h1 {
    font-size: calc( 24px + (112 - 24) * ((100vw - 480px) / (1024 - 480)));
  }
}
@media (min-width: 1024px) {
  h1 {
    font-size: 7rem;
  }
}

.link {
  text-decoration: none;
  color: inherit;
}

.theme-light .slider {
  background-color: #f8f7f6;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.theme-light .slider .slides {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 30px;
}
.theme-light .slider .slides img {
  width: 240px;
  height: 321px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 480px) {
  .theme-light .slider .slides img {
    width: 200px;
    height: 200px;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
.theme-light .slider .buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 20px;
  color: #000;
}
.theme-light .slider .buttons .item {
  display: flex;
  align-items: center;
  gap: 5px;
  transition: all 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  cursor: pointer;
}
.theme-light .slider .buttons .item span {
  width: 50px;
  height: 2px;
  background-color: black;
  background-color: #000;
}
@media (max-width: 480px) {
  .theme-light .slider .buttons .item span {
    width: 30px;
  }
}
.theme-light .slider .buttons .item button {
  border: none;
  background-color: inherit;
  color: #000;
  font-size: 14px;
  cursor: pointer;
}
@media (max-width: 480px) {
  .theme-light .slider .buttons .item button {
    display: none;
  }
}
.theme-light .slider .buttons .item:hover {
  scale: 1.2;
}
.theme-dark .slider {
  background-color: #000;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.theme-dark .slider .slides {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 30px;
}
.theme-dark .slider .slides img {
  width: 240px;
  height: 321px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 480px) {
  .theme-dark .slider .slides img {
    width: 200px;
    height: 200px;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
.theme-dark .slider .buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 20px;
  color: white;
}
.theme-dark .slider .buttons .item {
  display: flex;
  align-items: center;
  gap: 5px;
  transition: all 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  cursor: pointer;
}
.theme-dark .slider .buttons .item span {
  width: 50px;
  height: 2px;
  background-color: black;
  background-color: white;
}
@media (max-width: 480px) {
  .theme-dark .slider .buttons .item span {
    width: 30px;
  }
}
.theme-dark .slider .buttons .item button {
  border: none;
  background-color: inherit;
  color: white;
  font-size: 14px;
  cursor: pointer;
}
@media (max-width: 480px) {
  .theme-dark .slider .buttons .item button {
    display: none;
  }
}
.theme-dark .slider .buttons .item:hover {
  scale: 1.2;
}/*# sourceMappingURL=Slider.css.map */